@media screen and (max-width: 480px) {

    body{
        height: 100%;
    }

    .navbar-nav .nav-link{
        margin-top: 15px;
        margin-bottom: -50px;

    }

    .btn-nav{
        margin-top: 30px;
    }

    .navbar {
        position: fixed!important;
        height: auto!important;

    }


    .navbar-brand {
        display: none;
    }

    .navbar-toggler {
        display: flex;
    }

    .nav-logo{
        display: block;
        position: fixed;
        z-index: 9999;
        left: 16px;
        margin-top: 28px;
    }

    #hero img {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 120px;
    }

    .hero{
        display: flex;
        flex-wrap: nowrap;
    }

    /* .col-4 {
        margin-top: 16px;
        margin-left: 16px;
    } */
    /* .col-9 {
        margin-top: 1em;
    } */


    /* .col-4 {
     width: 200px;
   } */

    .d-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dua kolom dengan lebar yang sama */
        gap: 10px;
    }

    .mx-auto {
        margin-left: 0!important;
    }

    .btn-second {
        margin-top: 48px;

        height: 32px;
        font-size: px;

    }
    button.btn{
        width: 71px;
        font-size: 12px;
    }

    /* intro */


    .intro-img {
        width:70%;
        display: flex;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 2rem;
    }



    .intro-text {
        width: 70%;
        display: flex;
        justify-content: center;
        padding: 0;

    }

    #intro p {
        margin-top: 0;
        left: 0;

    }
    #intro {
        width: 100%;
    }
    #intro .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* login pop up */

    .login-box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;
        height: 20rem;
        display: flex;
        justify-content: center!important;
    }

    .login-box h2{
        margin-top: 1rem;
        font-size: 1rem;
    }

    .button-login{
        margin-top: 1rem;
        padding: 1.2rem 4.5rem;
    }

    .button-forgot{
        display: flex;
        flex-direction: column;
        justify-content: center!important;

    }
    .form-control{
        width: 14rem;
    }

    .form-check{
        display: flex;
        justify-content: center;
        gap: 0.2rem;
    }

    #closeIcon2{
        top: -100px;
    }

    /* sidebar user */
    .sidebar{
        width: 10%;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }


    .sidebar-column{
        width: 12%!important;
        z-index: 9999;
    }

    .content-column{
        padding: 1rem 6%;
        width: 100%;
        z-index: 9998;
    }

    .line{
        display: none;
    }

    .sidebar-main{
        width: 12%;
        display: none;
        transition: transform 0.3s ease;
        margin: 0;
        position: fixed;
    }

    .sidebar-col{
        padding: 0;
    }

    .sidebar-header,
    .sidebar-header h2{
        display: none;
    }

    .nav-link img{

    }
    .link-name{
        display: none;
    }

    .menu-items{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }



    .nav-links{
        padding: 0;
        margin-top: 4rem;
        position: relative;
    }

    .nav-link,
    .nav-active {
        width: 38px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .nav-link img ,
    .nav-active img {
        margin: 0;
        left: 0!important;
    }

    .nav-active img {
        position: relative;
        left: 6px;
    }

    .nav-logout{
        margin-left:0;
        position: absolute;
        top: 100%;
    }
    .welcome-header h2{
        font-size: 1rem;
    }
    .welcome-header p{
        font-size: 0.75rem;
    }

    .text-content{

    }

    /* dashboard */

    .profile-info .burger{
        display: flex;
    }

    .profile-info h4 {
        display: flex!important;
        color: #6C2863;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .profile-welcome{
        width: 3rem;
        height: 3rem;
    }

    .welcome-header {
        margin-top: 0!important;
    }

    .welcome-header h2 {
        font-size: 1.25rem;
    }

    .dashboard-count{
        margin-top: 9rem!important;
    }

    .dashboard-unduh{
        position: absolute;
        top: 160px;
        width: 100%;
    }

    .download-content{
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .download-content button{
        
        width: 100%;
    }
    

    .profile-info{
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        /* gap: 7.5rem; */
    }

    .profile-header{
        width: 2rem;
        height: 2rem;
    }



    .dashboard-main{
        flex-direction: column;
        margin: 0;
    }

    .container-header{
        width: 100%;
        margin: 0;
        padding: 1rem 2%;
        display: flex;
        justify-content: space-between;
    }

    .name-header {
        display: none;
    }

    .kolom1,
    .kolom2 {
        width: 100%;
        flex: 0 0 auto;
    }

    .countdown-content img{
        width: 2rem;
    }

    .countdown-content h4{
        font-size: 1rem;
    }

    .countdown-box {
        width: 100%!important;
        height: 4.25rem!important;
    }

    .countdown-fill{
        width: 2.5rem!important;
        height: 2.5rem!important;
        border-radius: 0.5rem;
    }

    .countdown-fill p{
        font-size: 1rem;
    }

    .kolom-unduh{
        justify-content: flex-start!important;
    }

    /* .card-body{
        gap: 3rem;
    } */

    

    .card-body h6{
        font-size: 0.5rem;
    }

    .tugas-header {
        position: relative;
    }

    .upload-tugas1{
        display: flex;
    }

    .upload-teks{
        margin-left: 1rem!important;
    }

    .tugas-header a {
        /* position: absolute; */
        left: 15rem;
    }

    .tugas-header img{
        width: 2rem;
    }

    .tugas-header h4{
        font-size: 1rem;
    }

    .tugas-content{
        width: 100%;
    }

    .tugas-box{
        width: 100%!important;
        height: 4rem!important;
    }

    .upload-header{
        font-size: 0.7rem;
    }

    .deadline-upload{
        font-size: 0.7rem;
    }

    .button-upload {
        margin: 0;
        display: flex;
    }

    .button-upload button{
        background: transparent;
        border: none;
        margin: 0;

    }

    .kalender-content{
        width: 100%;
        padding: 0;
    }

    .kalender-main{
        margin-left: 0;
    }

    .kalender-content img {
        width: 2rem;
    }

    .kalender-content h4{
        font-size: 1rem;
    }

    .kegiatan-main {
        margin: 0;
        
    }

    .card-kegiatan{
        flex-direction: column;
    }

    .kegiatan-content img {
        width: 2rem;
    }

    .kegiatan-content h4{
        font-size: 1rem;
    }

    .kegiatan-box{
        width: 100%!important;
        height: 3rem!important;
    }

    .kegiatan-header,
    .ket-kegiatan{
        font-size: 0.5rem;
    }

    .date-kegiatan{
        align-items: center;
    }

    .date-kegiatan img{
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-content: center;
    }


    /* coming soon*/

    .cm-main {
        padding: 2rem 3rem;
        height: 100vh;
    }

    .coming-header{
        margin-top: 4rem;
    }
    .img-coming{
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }

    .count{
        gap: 1rem!important;
        justify-content: center!important;
    }

    .countdown{
        margin-top: 5rem;
        position: relative;
        top: 0px;
    }

    .count-main{
        width: 20%;
    }

    .count-hari{
        width: 3.5rem;
        height: 3.5rem;
    }

    .count-hari p{
        font-size: 1.5rem;
    }

    .count-lable{
        font-size: 0.4rem;
    }

    .count-final-date h1{
        font-size: 0.75rem;
        /* margin-left: 1.5rem; */
    }

    .coming-announ p{
        font-size: 0.75rem;
    }

    .img-coming2{
        position: relative;
        top: 320px;
    }

    .blank {
        padding: 0.8rem ;
        height: 2rem;
        border: 0.4rem solid #221737;
        position: relative;
        top: -300px;
        margin-bottom: 2rem;
    }

    .blank::after,
    .blank::before {
        inset: 0.5rem;
    }

    .footer img{
        width: 2.5rem;
    }

}

@media screen and (max-width: 576px) and (min-width: 480px) {

    .navbar-nav .nav-link{
        margin-top: 15px;
        margin-bottom: -50px;

    }



    .btn-nav{
        margin-top: 30px;
    }

    .navbar {
        position: fixed!important;
        height: auto!important;

    }


    .navbar-brand {
        display: none;
    }

    .navbar-toggler {
        display: flex;
    }

    .nav-logo{
        display: block;
        position: fixed;
        z-index: 9999;
        left: 16px;
        margin-top: 28px;
    }

    #hero img {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 120px;
    }

    .hero{
        display: flex;
        flex-wrap: nowrap;
    }

    .col-4 {
        margin-top: 16px;
        margin-left: 16px;
    }
    .col-9 {
        margin-top: 1em;
    }


    /* .col-4 {
     width: 200px;
   } */

    .d-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dua kolom dengan lebar yang sama */
        gap: 10px;
    }

    .mx-auto {
        margin-left: 0!important;
    }

    .btn-second {
        margin-top: 48px;

        height: 32px;
        font-size: px;

    }
    button.btn{
        width: 71px;
        font-size: 12px;
    }

    /* intro */


    .intro-img {
        width:70%;
        display: flex;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 2rem;
    }



    .intro-text {
        width: 70%;
        display: flex;
        justify-content: center;
        padding: 0;

    }

    #intro p {
        margin-top: 0;
        left: 0;

    }
    #intro {
        width: 100%;
    }
    #intro .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* login pop up */

    .login-box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;
        height: 20rem;
        display: flex;
        justify-content: center!important;
    }

    .login-box h2{
        margin-top: 1rem;
        font-size: 1rem;
    }

    .button-login{
        margin-top: 1rem;
        padding: 1.2rem 4.5rem;
    }

    .button-forgot{
        display: flex;
        flex-direction: column;
        justify-content: center!important;

    }
    .form-control{
        width: 14rem;
    }

    .form-check{
        display: flex;
        justify-content: center;
        gap: 0.2rem;
    }

    #closeIcon2{
        top: -100px;
    }

    .sidebar{
        width: 10%;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

    .sidebar{
        width: 10%;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }


    .sidebar-column{
        width: 12%!important;
        z-index: 9999;
    }

    .content-column{
        padding: 1rem 6%;
        width: 100%;
        z-index: 9998;
    }

    .line{
        display: none;
    }

    .sidebar-main{
        width: 14%;
        display: none;
        transition: transform 1s ease;
        margin: 0;
        position: fixed;    
    }

    .sidebar-col{
        padding: 0;
    }

    .sidebar-header,
    .sidebar-header h2{
        display: none;
    }

    .nav-link img{

    }
    .link-name{
        display: none;
    }

    .menu-items{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }



    .nav-links{
        padding: 0;
        margin-top: 4rem;
        position: relative;
    }

    .nav-link,
    .nav-active {
        width: 38px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .nav-link img ,
    .nav-active img {
        margin: 0;
        left: 0!important;
    }

    .nav-active img {
        position: relative;
        left: 6px;
    }

    .nav-logout{
        margin-left:0;
        position: absolute;
        top: 100%;
    }
    .welcome-header h2{
        font-size: 1rem;
    }
    .welcome-header p{
        font-size: 0.75rem;
    }

    .text-content{

    }

    /* dashboard */

    .profile-info .burger{
        display: flex;
    }

    .profile-info h4 {
        display: flex!important;
        color: #6C2863;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .profile-welcome{
        width: 3rem;
        height: 3rem;
    }

    .welcome-header {
        margin-top: 0!important;
    }

    .welcome-header h2 {
        font-size: 1.25rem;
    }

    .dashboard-count{
        margin-top: 9rem!important;
    }

    .kolom-count{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    .dashboard-unduh{
        position: absolute;
        top: 160px;
        width: 90%;
    }

    .download-content{
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .download-content button{
        
        width: 100%;
    }
    
    /* .kolom-unduh{
        justify-content: flex-start!important;
    } */

    .profile-info{
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        /* gap: 7.5rem; */
    }

    .profile-header{
        width: 2rem;
        height: 2rem;
    }



    .dashboard-main{
        flex-direction: column;
        margin: 0;
    }

    .container-header{
        width: 100%;
        margin: 0;
        padding: 1rem 2%;
        display: flex;
        justify-content: space-between;
    }

    .name-header {
        display: none;
    }

    .kolom1,
    .kolom2 {
        width: 100%;
        flex: 0 0 auto;
    }

    .countdown-content img{
        width: 2rem;
    }

    .countdown-content h4{
        font-size: 1rem;
    }

    .countdown-box {
        width: 100%!important;
        height: 4.25rem!important;
    }

    .countdown-fill{
        width: 2.5rem!important;
        height: 2.5rem!important;
        border-radius: 0.5rem;
    }

    .countdown-fill p{
        font-size: 1rem;
    }

    /* .card-body{
        gap: 3rem;
    } */

    

    .card-body h6{
        font-size: 0.5rem;
    }

    .tugas-header {
        position: relative;
    }

    .upload-tugas1{
        display: flex;
        justify-content: center;
    }

    .upload-teks{
        margin-left: 1rem!important;
    }

    .col-4,
    .col-9 {
        margin: 0;
    }

    .tugas-header a {
        /* position: absolute; */
        left: 15rem;
    }

    .tugas-header img{
        width: 2rem;
    }

    .tugas-header h4{
        font-size: 1rem;
    }

    .tugas-content{
        width: 100%;
    }

    .tugas-box{
        width: 100%!important;
        height: 4rem!important;
    }

    .upload-header{
        font-size: 0.7rem;
    }

    .deadline-upload{
        font-size: 0.7rem;
    }

    .button-upload {
        margin: 0;
        display: flex;
    }

    .button-upload button{
        background: transparent;
        border: none;
        margin: 0;

    }

    .kalender-content{
        width: 100%;
        padding: 0;
    }

    .kalender-main{
        margin-left: 0;
    }

    .kalender-content img {
        width: 2rem;
    }

    .kalender-content h4{
        font-size: 1rem;
    }

    .kegiatan-main {
        margin: 0;
        
    }

    .card-kegiatan{
        flex-direction: column;
    }

    .kegiatan-content img {
        width: 2rem;
    }

    .kegiatan-content h4{
        font-size: 1rem;
    }

    .kegiatan-box{
        width: 100%!important;
        height: 4rem!important;
    }

    .kegiatan-header,
    .ket-kegiatan{
        font-size: 0.7rem;
    }

    .date-kegiatan{
        align-items: center;
    }

    .date-kegiatan img{
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-content: center;
    }

   

    /* coming soon*/

    .cm-main {
        padding: 2rem 3rem;
        height: 100vh;
    }

    .coming-header{
        margin-top: 4rem;
    }
    .img-coming{
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }

    .count{
        gap: 1rem!important;
        justify-content: center!important;
    }

    .countdown{
        margin-top: 5rem;
        position: relative;
        top: 0px;
    }

    .count-main{
        width: 20%;
    }

    .count-hari{
        width: 3.5rem;
        height: 3.5rem;
    }

    .count-hari p{
        font-size: 1.5rem;
    }

    .count-lable{
        font-size: 0.6rem;
    }

    .count-final-date h1{
        font-size: 0.75rem;
    }

    .coming-announ p{
        font-size: 0.75rem;
    }

    .img-coming2{
        position: relative;
        top: 320px;
    }

    .blank {
        padding: 0.8rem ;
        height: 2.5rem;
        border: 0.4rem solid #221737;
        position: relative;
        top: -280px;
        margin-bottom: 2rem;
    }

    .blank::after,
    .blank::before {
        inset: 0.5rem;
    }

    .footer img{
        width: 2.5rem;
    }

}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .navbar-nav .nav-link{
        margin-top: 15px;
        margin-bottom: -50px;

    }



    .btn-nav{
        margin-top: 30px;
    }

    .navbar {
        position: fixed!important;
        height: auto!important;

    }


    .navbar-brand {
        display: none;
    }

    .navbar-toggler {
        display: flex;
    }

    .nav-logo{
        display: block;
        position: fixed;
        z-index: 9999;
        left: 16px;
        margin-top: 28px;
    }

    #hero img {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin-top: 120px;
    }

    .hero{
        display: flex;
        flex-wrap: nowrap;
    }

    .col-4 {
        margin-top: 16px;
        margin-left: 16px;
    }
    .col-9 {
        margin-top: 1em;
    }


    /* .col-4 {
     width: 200px;
   } */

    .d-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dua kolom dengan lebar yang sama */
        gap: 10px;
    }

    .mx-auto {
        margin-left: 0!important;
    }

    .btn-second {
        margin-top: 48px;

        height: 32px;
        font-size: px;

    }
    button.btn{
        width: 71px;
        font-size: 12px;
    }

    /* intro */


    .intro-img {
        width:70%;
        display: flex;
        justify-content: center;
        margin-left: 4rem;
        margin-top: 2rem;
    }



    .intro-text {
        width: 70%;
        display: flex;
        justify-content: center;
        padding: 0;

    }

    #intro p {
        margin-top: 0;
        left: 0;

    }
    #intro {
        width: 100%;
    }
    #intro .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    /* login pop up */

    .login-box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;
        height: 20rem;
        display: flex;
        justify-content: center!important;
    }

    .login-box h2{
        margin-top: 1rem;
        font-size: 1rem;
    }

    .button-login{
        margin-top: 1rem;
        padding: 1.2rem 4.5rem;
    }

    .button-forgot{
        display: flex;
        flex-direction: column;
        justify-content: center!important;

    }
    .form-control{
        width: 14rem;
    }

    .form-check{
        display: flex;
        justify-content: center;
        gap: 0.2rem;
    }

    #closeIcon2{
        top: -100px;
    }

    .sidebar{
        width: 10%;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

    .sidebar{
        width: 10%;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }


    .sidebar-column{
        width: 12%!important;
        z-index: 9999;
    }

    .content-column{
        padding: 1rem 6%;
        width: 100%;
        z-index: 9998;
    }

    .line{
        display: none;
    }

    .sidebar-main{
        width: 12%;
        display: none;
        transition: transform 1s ease;
        margin: 0;
        position: fixed;    
    }

    .sidebar-col{
        padding: 0;
    }

    .sidebar-header,
    .sidebar-header h2{
        display: none;
    }

    .nav-link img{

    }
    .link-name{
        display: none;
    }

    .menu-items{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }



    .nav-links{
        padding: 0;
        margin-top: 4rem;
        position: relative;
    }

    .nav-link,
    .nav-active {
        width: 38px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .nav-link img ,
    .nav-active img {
        margin: 0;
        left: 0!important;
    }

    .nav-active img {
        position: relative;
        left: 6px;
    }

    .nav-logout{
        margin-left:0;
        position: absolute;
        top: 100%;
    }
    .welcome-header h2{
        font-size: 1rem;
    }
    .welcome-header p{
        font-size: 0.75rem;
    }

    .text-content{

    }

    /* dashboard */

    .profile-info .burger{
        display: flex;
    }

    .profile-info h4 {
        display: flex!important;
        color: #6C2863;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .profile-welcome{
        width: 3.2rem;
        height: 3.2rem;
    }

    .welcome-header {
        margin-top: 0!important;
    }

    .welcome-header h2 {
        font-size: 1.25rem;
    }

    .dashboard-count{
        margin-top: 9rem!important;
    }

    .kolom-count{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    .dashboard-unduh{
        position: absolute;
        top: 160px;
        width: 90%;
    }

    .download-content{
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .download-content button{
        
        width: 100%;
    }
    
    /* .kolom-unduh{
        justify-content: flex-start!important;
    } */

    .profile-info{
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        /* gap: 7.5rem; */
    }

    .profile-header{
        width: 2rem;
        height: 2rem;
    }



    .dashboard-main{
        flex-direction: column;
        margin: 0;
    }

    .container-header{
        width: 100%;
        margin: 0;
        padding: 1rem 2%;
        display: flex;
        justify-content: space-between;
    }

    .name-header {
        display: none;
    }

    .kolom1,
    .kolom2 {
        width: 100%;
        flex: 0 0 auto;
    }

    .card-body{
        gap: 0;
    }


    .countdown-content img{
        width: 2rem;
    }

    .countdown-content h4{
        font-size: 1rem;
    }

    .countdown-box {
        width: 100%!important;
        height: 4.75rem!important;
    }

    .countdown-fill{
        width: 3rem!important;
        height: 3rem!important;
        border-radius: 0.5rem;
    }

    .countdown-fill p{
        font-size: 1rem;
    }

    /* .card-body{
        gap: 3rem;
    } */

    

    .card-body h6{
        font-size: 0.75rem;
    }

    .tugas-header {
        position: relative;
    }

    .upload-tugas1{
        display: flex;
        justify-content: center;
    }

    .upload-teks{
        margin-left: 1rem!important;
    }

    .col-4,
    .col-9 {
        margin: 0;
    }

    .tugas-header a {
        /* position: absolute; */
        left: 25rem;
    }

    .tugas-header img{
        width: 2rem;
    }

    .tugas-header h4{
        font-size: 1rem;
    }

    .tugas-content{
        width: 100%;
    }

    .tugas-box{
        width: 100%!important;
        height: 4.5rem!important;
    }

    .upload-header{
        font-size: 0.9rem;
    }

    .deadline-upload{
        font-size: 0.9rem;
    }

    .button-upload {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .button-upload button{
        background: transparent;
        border: none;
        margin: 0;

    }

    .kalender-content{
        width: 100%;
        padding: 0;
    }

    .kalender-main{
        margin-left: 0;
    }

    .kalender-content img {
        width: 2rem;
    }

    .kalender-content h4{
        font-size: 1rem;
    }

    .kegiatan-main {
        margin: 0;
        
    }

    .card-kegiatan{
        flex-direction: column;
    }

    .kegiatan-content img {
        width: 2rem;
    }

    .kegiatan-content h4{
        font-size: 1rem;
    }

    .kegiatan-box{
        width: 100%!important;
        height: 4rem!important;
    }

    .kegiatan-header,
    .ket-kegiatan{
        font-size: 0.7rem;
    }

    .date-kegiatan{
        align-items: center;
    }

    .date-kegiatan img{
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-content: center;
    }

    /* coming soon*/

    .cm-main {
        padding: 2rem 3rem;
        height: 100vh;
    }

    .coming-header{
        margin-top: 4rem;
    }
    .img-coming{
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }

    .count{
        gap: 0.5rem!important;
        justify-content: center!important;
    }

    .countdown{
        margin-top: 5rem;
        position: relative;
        top: 10px;
    }

    .count-main{
        width: 20%;
    }

    .count-hari{
        width: 4.2rem;
        height: 4.2rem;
    }

    .count-hari p{
        font-size: 1.8rem;
    }

    .count-lable{
        font-size: 0.6rem;
    }

    .count-final-date h1{
        font-size: 1rem;
    }

    .coming-announ p{
        font-size: 1rem;
    }

    .img-coming2{
        position: relative;
        top: 320px;
    }

    .blank {
        padding: 0.8rem ;
        height: 3.2rem;
        border: 0.4rem solid #221737;
        position: relative;
        top: -290px;
        margin-bottom: 2rem;
    }

    .blank::after,
    .blank::before {
        inset: 0.7rem;
    }

    .footer img{
        width: 2.5rem;
    }

}

@media screen and (max-width: 992px) and (min-width: 768px) {

    .cm-main{
        height: 100vh;
    }

    .count{
        gap: 1rem!important;
        justify-content: flex-end!important;
    }

    .count-main{
        width: 20%;
    }

    .count-hari{
        width: 3.5rem;
        height: 3.5rem;
    }

    .count-hari p{
        font-size: 1.8rem;
    }

    .count-lable{
        font-size: 0.5rem;
    }

    .count-final-date h1{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .coming-announ p{
        font-size: 1rem;
    }

    .blank {
        padding: 2rem ;
        height: 3rem;
        border: 0.6rem solid #221737;
        position: relative;

    }

    .blank::after,
    .blank::before {
        inset: 1rem;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {

    .blank {
        padding: 2rem ;
        height: 3rem;
        border: 0.6rem solid #221737;
        position: relative;

    }

    .blank::after,
    .blank::before {
        inset: 1rem;
    }
}

@media screen and (max-width: 1366px) and (min-width: 1200px) {
    .blank {
        padding: 2rem ;
        height: 3rem;
        border: 0.6rem solid #221737;
        position: relative;

    }

    .blank::after,
    .blank::before {
        inset: 1rem;
    }
}
