@media screen and (max-width: 480px) {

    /* body{
        height: 100%;
    } */

    .navbar-nav .nav-link{
        margin-top: 15px;
        margin-bottom: -50px;

    }

    .btn-nav{
        margin-top: 30px;
    }

    .navbar {
        position: fixed!important;
        height: auto!important;

    }

    .navbar-toggler-icon{
        background-image: url(../img/burger-user.svg);
    }

    .navbar-brand {
        display: none;
    }


    .navbar-toggler {
        display: flex;
        border: none!important;
    }

    .navbar-toggler:focus{
        box-shadow: none!important ;
    }

    .nav-logo{
        display: block!important;
        position: fixed;
        z-index: 9999;
        left: 32px;
        top: 24px;
    }

    .hero-content{
        width: 100%!important;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content2{
        display: none!important;
    }

    #hero {
        display: flex!important;
        justify-content: center!important;
        align-items: center;
        height: calc(100vh - 100px);
        position: relative;
    }

    #hero img {

        width: 9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .hero-main{
        padding: 0!important;
        
    }

   #hero .komputer{
        display: none;
    }

    
    .hero{
        display: flex;
        flex-wrap: nowrap;
    }

    .button-hero{
        display: flex!important;
        flex-direction: column!important;
        align-items: center;
    }

    /* .col-4 {
        margin-top: 16px;
        margin-left: 16px;
    } */
    /* .col-9 {
        margin-top: 1em;
    } */


    /* .col-4 {
     width: 200px;
   } */

    /* .d-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dua kolom dengan lebar yang sama */

        .mx-auto {
            margin-left: 0!important;
            margin-right: 0!important;
        }
    
        .btn-first{
            margin-top: 1rem!important;
        }
    
        .btn-second {
           
    
            height: 32px;
       
            margin-top: 0;
    
        }
        button.btn{
            width: 100px;
            font-size: 12px;
            border-radius: 0.5rem;
        }

        .color-grad{
            display: flex!important;
            width: 24px!important;
            height: 104px!important;
           position: absolute;
           left: 2rem;
           top: 2rem;
           z-index: 2;
        }
    
        /* intro */

        #intro p {
            margin-top: 0;
            left: 0;
            font-size: 12px;
    
        }
        #intro {
            width: 100%;
            padding: 3rem 5%;
            height: calc(100vh - 86px);
            display: flex!important;
            justify-content: center!important;
            align-items: center;
           
        }
        #intro .row {
            display: flex;
            justify-content: center;
         
            flex-wrap: wrap;
        }

        .intro-main{
            padding: 0!important;
        }
    
    
       #intro img {
            width: 70% !important;;
            margin-left: 4rem;
            margin-top: 2rem;
             margin: 0!important;
             display: flex!important;
             justify-content: center;
        }

        .intro-img{
            margin-top: 0!important;
            margin-right: 0!important;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
    
    
    
        .intro-text {
            width: 70%;
            display: flex;
            justify-content: center;
            padding: 0;
    
        }


        .intro-content{
            /* width: 303px;
            height: 43.7px; */
        }

        .intro-header{
            font-size: 12px;
            padding: 0;
            min-height: 2.5rem;
        }

        #timeline{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #timeline img{
            width: 100%;
        }

        #anthem{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .anthem-header img{
            width: 70%;
        }

        

        .anthem-header{
            margin-top: 0;
        }

        #dokumentasi{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

       .dokumentasi-header img {
        width: 70%;
       }
          
    
      
    
        /* login pop up */
    
        .login-box{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 18rem;
            height: 18rem;
            display: flex;
            justify-content: center!important;
        }
    
        .login-box h2{
            margin-top: 1rem;
            font-size: 1rem;
        }
    
        .button-login{
            padding: 1.2rem 4.5rem;
        }
    
        .button-forgot{
            display: flex;
            flex-direction: column;
            justify-content: center!important;
    
        }
        .form-control{
            width: 14rem;
        }

        .btn-nav{
            margin-top: -10px;
        }

        .forget-password{
            width: 83px;
            margin-top: -2rem;
            font-size: 10px;
            margin-left: 10.5rem;
            
        }
    
        .form-check{
            display: flex;
            justify-content: center;
            gap: 0.2rem;
        }
    
        #closeIcon2{
            /* top: -100px; */
      
            height: 1rem!important;
            justify-content: flex-start!important;
            top: 0px;
            left: -30px;
        }

        #eyeicon5{
            width: 1.4rem!important;
            right: -224px;
            top: -112%;
        }

        .login-nim{
            margin-right: 0!important;
            margin-left: 0!important;
            width: 100%;
        }

/* daftar */

#daftar {
    width: 19.5rem;
    height: 28rem;
}

.daftar p{
    margin-top: 2rem;
    font-size: 1.25rem;
}

.show-password-icon, .hide-password-icon{
    position: relative;
    right: 40px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-daftar{
    width: 14rem;
    padding: 0.5rem 1.5rem;
}

.daftar input[type="password"]{
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    margin-left: 1.5rem;
}

.daftar input[type="text"]::placeholder,
.daftar input[type="password"]::placeholder,
.daftar input[type="email"]::placeholder
{
    font-size: 12px;
}

.input-password{
    height: 40px!important;
}

.button-daftar{
    padding: 1.2rem 6.8rem!important;
}

.form-column{
    display: flex;
    justify-content: center;
}

.costum-margin{
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

.button-row{
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

.maskot-kolom{
    width: 33%;
}

.maskot{
    width: 120px;
    height: 240px;
}

.maskot2{
    width: 100px !important;
    height: 200px !important;
    bottom: 2.5rem !important;
}

#ronand,
#tinan,
#anan{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ronand-main,
.tinan-main,
.anan-main{
    margin-left: 0!important;
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ronand-fill1,
.ronand-fill2,
.ronand-fill3,
.tinan-fill1,
.tinan-fill2,
.tinan-fill3,
.anan-fill1,
.anan-fill2,
.anan-fill3{
    width: 33%;
    height: calc(80% - 75px);
    padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.ronand-fill1 p ,
.tinan-fill3 p,
.anan-fill1 p{
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.ronand-filo{
    font-size: 0.7rem;
    text-align: left;
    
}

.tinan-filo,
.anan-filo{
    font-size: 1rem;
    text-align: left;
}

.ronand-mean{
    font-size: 0.5rem;
}

.tinan-mean,
.anan-mean{
    font-size: 0.75rem;
}
    
        /* sidebar user */
        .sidebar{
            width: 10%;
            position: fixed;
            display: flex;
            justify-content: flex-start;
            height: 100%;
        }
    
    
        .sidebar-column{
            width: 12%!important;
            z-index: 9999;
        }
    
        .content-column{
            padding: 1rem 6%;
            width: 100%;
            z-index: 9998;
        }
    
        .line{
            display: none;
        }
    
        .sidebar-main{
            width: 12%;
            display: none;
            transition: transform 0.3s ease;
            margin: 0;
            position: fixed;
        }
    
        .sidebar-col{
            padding: 0;
        }
    
        .sidebar-header,
        .sidebar-header h2{
            display: none;
        }
    
        .nav-link img{
    
        }
        .link-name{
            display: none;
        }
    
        .menu-items{
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }
    
    
    
        .nav-links{
            padding: 0;
            margin-top: 4rem;
            position: relative;
        }
    
        .nav-link,
        .nav-active {
            width: 38px;
            margin-left: 0;
            display: flex;
            justify-content: center;
        }
    
        .nav-link img ,
        .nav-active img {
            margin: 0;
            left: 0!important;
        }
    
        .nav-active img {
            position: relative;
            left: 6px;
        }
    
        .nav-logout{
            margin-left:0;
            position: absolute;
            top: 100%;
        }
        .welcome-header h2{
            font-size: 1rem;
        }
        .welcome-header p{
            font-size: 0.75rem;
        }
    
        .text-content{
    
        }
    
        /* dashboard */
    
        .profile-info .burger{
            display: flex;
        }
    
        .profile-info h4 {
            display: flex!important;
            color: #6C2863;
            font-size: 1rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    
        .profile-welcome{
            width: 3rem;
            height: 3rem;
        }
    
        .welcome-header {
            margin-top: 0!important;
        }
    
        .welcome-header h2 {
            font-size: 1.25rem;
        }
    
        .dashboard-count{
            margin-top: 9rem!important;
        }
    
        .dashboard-unduh{
            position: absolute;
            top: 160px;
            width: 100%;
        }
    
        .download-content{
            display: flex!important;
            flex-direction: column;
            justify-content: center;
            width: 80%;
        }
    
        .download-content button{
            
            width: 100%;
        }
        
    
        .profile-info{
            display: flex;
            justify-content: space-between;
            margin: 0;
            width: 100%;
            /* gap: 7.5rem; */
        }
    
        .profile-header{
            width: 2rem;
            height: 2rem;
        }
    
    
    
        .dashboard-main{
            flex-direction: column;
            margin: 0;
        }
    
        .container-header{
            width: 100%;
            margin: 0;
            padding: 1rem 2%;
            display: flex;
            justify-content: space-between;
        }
    
        .name-header {
            display: none;
        }
    
        .kolom1,
        .kolom2 {
            width: 100%;
            flex: 0 0 auto;
        }
    
        .countdown-content img{
            width: 2rem;
        }
    
        .countdown-content h4{
            font-size: 1rem;
        }
    
        .countdown-box {
            width: 100%!important;
            height: 4.25rem!important;
        }
    
        .countdown-fill{
            width: 2.5rem!important;
            height: 2.5rem!important;
            border-radius: 0.5rem;
        }
    
        .countdown-fill p{
            font-size: 1rem;
        }
    
        .kolom-unduh{
            justify-content: flex-start!important;
        }
    
        /* .card-body{
            gap: 3rem;
        } */
    
        
    
        .card-body h6{
            font-size: 0.5rem;
        }
    
        .tugas-header {
            position: relative;
        }
    
        .upload-tugas1{
            display: flex;
        }
    
        .upload-teks{
            margin-left: 1rem!important;
        }
    
        .tugas-header a {
            /* position: absolute; */
            left: 15rem;
        }
    
        .tugas-header img{
            width: 2rem;
        }
    
        .tugas-header h4{
            font-size: 1rem;
        }
    
        .tugas-content{
            width: 100%;
        }
    
        .tugas-box{
            width: 100%!important;
            height: 4rem!important;
        }
    
        .upload-header{
            font-size: 0.7rem;
        }
    
        .deadline-upload{
            font-size: 0.7rem;
        }
    
        .button-upload {
            margin: 0;
            display: flex;
        }
    
        .button-upload button{
            background: transparent;
            border: none;
            margin: 0;
    
        }
    
        .kalender-content{
            width: 100%;
            padding: 0;
        }
    
        .kalender-main{
            margin-left: 0;
        }
    
        .kalender-content img {
            width: 2rem;
        }
    
        .kalender-content h4{
            font-size: 1rem;
        }
    
        .kegiatan-main {
            margin: 0;
            
        }
    
        .card-kegiatan{
            flex-direction: column;
        }
    
        .kegiatan-content img {
            width: 2rem;
        }
    
        .kegiatan-content h4{
            font-size: 1rem;
        }
    
        .kegiatan-box{
            width: 100%!important;
            height: 3rem!important;
        }
    
        .kegiatan-header,
        .ket-kegiatan{
            font-size: 0.5rem;
        }
    
        .date-kegiatan{
            align-items: center;
        }
    
        .date-kegiatan img{
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-content: center;
        }
    
    
        /* coming soon*/
    
        .cm-main {
            padding: 2rem 3rem;
            height: 100vh;
        }
    
        .coming-header{
            margin-top: 4rem;
        }
        .img-coming{
            margin-top: 0rem;
            margin-bottom: 0.5rem;
        }
    
        .count{
            gap: 1rem!important;
            justify-content: center!important;
        }
    
        .countdown{
            margin-top: 5rem;
            position: relative;
            top: 0px;
        }
    
        .count-main{
            width: 20%;
        }
    
        .count-hari{
            width: 3.5rem;
            height: 3.5rem;
        }
    
        .count-hari p{
            font-size: 1.5rem;
        }
    
        .count-lable{
            font-size: 0.4rem;
        }
    
        .count-final-date h1{
            font-size: 0.75rem;
            /* margin-left: 1.5rem; */
        }
    
        .coming-announ p{
            font-size: 0.75rem;
        }
    
        .img-coming2{
            position: relative;
            top: 320px;
        }
    
        .blank {
            padding: 0.8rem ;
            height: 2rem;
            border: 0.4rem solid #221737;
            position: relative;
            top: -300px;
            margin-bottom: 2rem;
        }
    
        .blank::after,
        .blank::before {
            inset: 0.5rem;
        }
    
        .footer img{
            width: 2.5rem;
        }
       
} 

@media screen and (max-width: 576px) and (min-width: 480px) {

    .navbar-nav .nav-link{
        margin-top: 15px;
        margin-bottom: -50px;
    }

    .btn-nav{
        margin-top: 30px;
    }

    .navbar {
        position: fixed!important;
        height: auto!important;

    }

    .navbar-toggler-icon{
        background-image: url(../img/burger-user.svg);
    }

    .navbar-brand {
        display: none;
    }

   
    

    .navbar-toggler {
        display: flex;
        border: none!important;
    }

    .navbar-toggler:focus{
        box-shadow: none!important ;
    }

    .nav-logo{
        display: block!important;
        position: fixed;
        z-index: 9999;
        left: 32px;
        top: 24px;
    }

    .hero-content{
        width: 100%!important;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content2{
        display: none!important;
    }

    #hero {
        display: flex!important;
        justify-content: center!important;
        align-items: center;
        height: calc(100vh - 100px);
        position: relative;
    }

    #hero img {

        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .hero-main{
        padding: 0!important;
        
    }

   #hero .komputer{
        display: none;
    }

    
    .hero{
        display: flex;
        flex-wrap: nowrap;
    }

    .button-hero{
        display: flex!important;
        flex-direction: column!important;
        align-items: center;
    }

    /* .col-4 {
        margin-top: 16px;
        margin-left: 16px;
    } */
    /* .col-9 {
        margin-top: 1em;
    } */


    /* .col-4 {
     width: 200px;
   } */

    /* .d-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dua kolom dengan lebar yang sama */

        .mx-auto {
            margin-left: 0!important;
            margin-right: 0!important;
        }
    
        .btn-first{
            margin-top: 1rem!important;
        }
    
        .btn-second {
           
    
            height: 32px;
       
            margin-top: 0;
    
        }
        button.btn{
            width: 100px;
            font-size: 12px;
            border-radius: 0.5rem;
        }

        .color-grad{
            display: flex!important;
            width: 24px!important;
            height: 104px!important;
           position: absolute;
           left: 2rem;
           top: 2rem;
           z-index: 2;
        }
    
        /* intro */

        #intro p {
            margin-top: 0;
            left: 0;
            font-size: 12px;
    
        }
        #intro {
            width: 100%;
            padding: 3rem 5%;
            height: calc(100vh - 86px);
            display: flex!important;
            justify-content: center!important;
            align-items: center;
           
        }
        #intro .row {
            display: flex;
            justify-content: center;
         
            flex-wrap: wrap;
        }

        .intro-main{
            padding: 0!important;
        }
    
    
       #intro img {
            width: 70% !important;;
            margin-left: 4rem;
            margin-top: 2rem;
             margin: 0!important;
             display: flex!important;
             justify-content: center;
        }

        .intro-img{
            margin-top: 0!important;
            margin-right: 0!important;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
    
    
    
        .intro-text {
            width: 70%;
            display: flex;
            justify-content: center;
            padding: 0;
    
        }


        .intro-content{
            /* width: 303px;
            height: 43.7px; */
        }

        .intro-header{
            font-size: 12px;
            padding: 0;
            min-height: 3.3rem;
        }

        #timeline{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #timeline img {
            width: 100%;
        }

        #anthem{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .anthem-header{
            margin-top: 0;
          
        }

        .anthem-header img { 
             width: 100%;
            }

        #dokumentasi{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

       
          
    
      
    
        /* login pop up */
    
        .login-box{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 19rem;
            height: 19rem;
            display: flex;
            justify-content: center!important;
        }
    
        .login-box h2{
            margin-top: 1rem;
            font-size: 1rem;
        }
    
        .button-login{
            padding: 1.2rem 4.5rem;
        }
    
        .button-forgot{
            display: flex;
            flex-direction: column;
            justify-content: center!important;
    
        }
        .form-control{
            width: 14rem;
        }

        .btn-nav{
            margin-top: -10px;
        }

        .forget-password{
            width: 83px;
            margin-top: -2rem;
            font-size: 10px;
            margin-left: 10.5rem;
            
        }
    
        .form-check{
            display: flex;
            justify-content: center;
            gap: 0.2rem;
        }
    
        #closeIcon2{
            /* top: -100px; */
      
            height: 1rem!important;
            justify-content: flex-start!important;
            top: 0px;
            left: -40px;
        }

        #eyeicon5{
            width: 1.4rem!important;
            right: -224px;
            top: -112%;
        }

        .login-nim{
            margin-right: 0!important;
            margin-left: 0!important;
            width: 100%;
        }

/* daftar */

#daftar {
    width: 21rem;
    height: 29rem;
}

.daftar p{
    margin-top: 2rem;
    font-size: 1.25rem;
}

.show-password-icon, .hide-password-icon{
    position: relative;
    right: 40px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-daftar{
    width: 15rem;
    padding: 0.5rem 1.5rem;
}

.form-password{
    width: 15rem!important;
}

.daftar input[type="password"]{
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    margin-left: 1.5rem;
}

.daftar input[type="text"]::placeholder,
.daftar input[type="password"]::placeholder,
.daftar input[type="email"]::placeholder
{
    font-size: 12px;
}

.input-password{
    height: 40px!important;
}

.button-daftar{
    padding: 1.2rem 7.5rem!important;
}

.form-column{
    display: flex;
    justify-content: center;
}

.costum-margin{
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

.button-row{
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

/* maskot */

.maskot-kolom{
    width: 33%;
}

.maskot{
    width: 150px;
    height: 300px;
}

.maskot2{
    width: 140px !important;
    height: 240px !important;
    bottom: 2.5rem !important;
}

#ronand,
#tinan,
#anan{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ronand-main,
.tinan-main,
.anan-main{
    margin-left: 0!important;
    margin-right: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ronand-fill1,
.ronand-fill2,
.ronand-fill3,
.tinan-fill1,
.tinan-fill2,
.tinan-fill3,
.anan-fill1,
.anan-fill2,
.anan-fill3{
    width: 33%;
    height: calc(80% - 75px);
    padding: 1.5rem 1.5rem 0rem 1.5rem;
}

.ronand-fill1 p ,
.tinan-fill3 p,
.anan-fill1 p{
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

.ronand-filo{
    font-size: 0.9rem;
    text-align: left;
    
}

.tinan-filo,
.anan-filo{
    font-size: 1rem;
    text-align: left;
}

.ronand-mean{
    font-size: 0.65rem;
}

.tinan-mean,
.anan-mean{
    font-size: 0.75rem;
}



/* sidebar user */

    .sidebar{
        width: 10%;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

    .sidebar{
        width: 10%;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }


    .sidebar-column{
        width: 12%!important;
        z-index: 9999;
    }

    .content-column{
        padding: 1rem 6%;
        width: 100%;
        z-index: 9998;
    }

    .line{
        display: none;
    }

    .sidebar-main{
        width: 14%;
        display: none;
        transition: transform 1s ease;
        margin: 0;
        position: fixed;    
    }

    .sidebar-col{
        padding: 0;
    }

    .sidebar-header,
    .sidebar-header h2{
        display: none;
    }

    .nav-link img{

    }
    .link-name{
        display: none;
    }

    .menu-items{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }



    .nav-links{
        padding: 0;
        margin-top: 4rem;
        position: relative;
    }

    .nav-link,
    .nav-active {
        width: 38px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .nav-link img ,
    .nav-active img {
        margin: 0;
        left: 0!important;
    }

    .nav-active img {
        position: relative;
        left: 6px;
    }

    .nav-logout{
        margin-left:0;
        position: absolute;
        top: 100%;
    }
    .welcome-header h2{
        font-size: 1rem;
    }
    .welcome-header p{
        font-size: 0.75rem;
    }

    .text-content{

    }

    /* dashboard */

    .profile-info .burger{
        display: flex;
    }

    .profile-info h4 {
        display: flex!important;
        color: #6C2863;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .profile-welcome{
        width: 3rem;
        height: 3rem;
    }

    .welcome-header {
        margin-top: 0!important;
    }

    .welcome-header h2 {
        font-size: 1.25rem;
    }

    .dashboard-count{
        margin-top: 9rem!important;
    }

    .kolom-count{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    .dashboard-unduh{
        position: absolute;
        top: 160px;
        width: 90%;
    }

    .download-content{
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .download-content button{
        
        width: 100%;
    }
    
    /* .kolom-unduh{
        justify-content: flex-start!important;
    } */

    .profile-info{
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        /* gap: 7.5rem; */
    }

    .profile-header{
        width: 2rem;
        height: 2rem;
    }



    .dashboard-main{
        flex-direction: column;
        margin: 0;
    }

    .container-header{
        width: 100%;
        margin: 0;
        padding: 1rem 2%;
        display: flex;
        justify-content: space-between;
    }

    .name-header {
        display: none;
    }

    .kolom1,
    .kolom2 {
        width: 100%;
        flex: 0 0 auto;
    }

    .countdown-content img{
        width: 2rem;
    }

    .countdown-content h4{
        font-size: 1rem;
    }

    .countdown-box {
        width: 100%!important;
        height: 4.25rem!important;
    }

    .countdown-fill{
        width: 2.5rem!important;
        height: 2.5rem!important;
        border-radius: 0.5rem;
    }

    .countdown-fill p{
        font-size: 1rem;
    }

    /* .card-body{
        gap: 3rem;
    } */

    

    .card-body h6{
        font-size: 0.5rem;
    }

    .tugas-header {
        position: relative;
    }

    .upload-tugas1{
        display: flex;
        justify-content: center;
    }

    .upload-teks{
        margin-left: 1rem!important;
    }

    .col-4,
    .col-9 {
        margin: 0;
    }

    .tugas-header a {
        /* position: absolute; */
        left: 15rem;
    }

    .tugas-header img{
        width: 2rem;
    }

    .tugas-header h4{
        font-size: 1rem;
    }

    .tugas-content{
        width: 100%;
    }

    .tugas-box{
        width: 100%!important;
        height: 4rem!important;
    }

    .upload-header{
        font-size: 0.7rem;
    }

    .deadline-upload{
        font-size: 0.7rem;
    }

    .button-upload {
        margin: 0;
        display: flex;
    }

    .button-upload button{
        background: transparent;
        border: none;
        margin: 0;

    }

    .kalender-content{
        width: 100%;
        padding: 0;
    }

    .kalender-main{
        margin-left: 0;
    }

    .kalender-content img {
        width: 2rem;
    }

    .kalender-content h4{
        font-size: 1rem;
    }

    .kegiatan-main {
        margin: 0;
        
    }

    .card-kegiatan{
        flex-direction: column;
    }

    .kegiatan-content img {
        width: 2rem;
    }

    .kegiatan-content h4{
        font-size: 1rem;
    }

    .kegiatan-box{
        width: 100%!important;
        height: 4rem!important;
    }

    .kegiatan-header,
    .ket-kegiatan{
        font-size: 0.7rem;
    }

    .date-kegiatan{
        align-items: center;
    }

    .date-kegiatan img{
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-content: center;
    }

   

    /* coming soon*/

    .cm-main {
        padding: 2rem 3rem;
        height: 100vh;
    }

    .coming-header{
        margin-top: 4rem;
    }
    .img-coming{
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }

    .count{
        gap: 1rem!important;
        justify-content: center!important;
    }

    .countdown{
        margin-top: 5rem;
        position: relative;
        top: 0px;
    }

    .count-main{
        width: 20%;
    }

    .count-hari{
        width: 3.5rem;
        height: 3.5rem;
    }

    .count-hari p{
        font-size: 1.5rem;
    }

    .count-lable{
        font-size: 0.6rem;
    }

    .count-final-date h1{
        font-size: 0.75rem;
    }

    .coming-announ p{
        font-size: 0.75rem;
    }

    .img-coming2{
        position: relative;
        top: 320px;
    }

    .blank {
        padding: 0.8rem ;
        height: 2.5rem;
        border: 0.4rem solid #221737;
        position: relative;
        top: -280px;
        margin-bottom: 2rem;
    }

    .blank::after,
    .blank::before {
        inset: 0.5rem;
    }

    .footer img{
        width: 2.5rem;
    }

}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .navbar-nav .nav-link{
        margin-top: 15px;
        margin-bottom: -50px;
    }

    .btn-nav{
        margin-top: 30px;
    }

    .navbar {
        position: fixed!important;
        height: auto!important;

    }

    .navbar-toggler-icon{
        background-image: url(../img/burger-user.svg);
    }

    .navbar-brand {
        display: none;
    }

   
    

    .navbar-toggler {
        display: flex;
        border: none!important;
    }

    .navbar-toggler:focus{
        box-shadow: none!important ;
    }

    .nav-logo{
        display: block!important;
        position: fixed;
        z-index: 9999;
        left: 80px;
        top: 24px;
    }

    .hero-content{
        width: 100%!important;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content2{
        display: none!important;
    }

    #hero {
        display: flex!important;
        justify-content: center!important;
        align-items: center;
        height: calc(100vh - 100px);
        position: relative;
    }

    #hero img {

        width: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .hero-main{
        padding: 0!important;
        
    }

   #hero .komputer{
        display: none;
    }

    
    .hero{
        display: flex;
        flex-wrap: nowrap;
    }

    .button-hero{
        display: flex!important;
        flex-direction: column!important;
        align-items: center;
    }

    /* .col-4 {
        margin-top: 16px;
        margin-left: 16px;
    } */
    /* .col-9 {
        margin-top: 1em;
    } */


    /* .col-4 {
     width: 200px;
   } */

    /* .d-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dua kolom dengan lebar yang sama */

        .mx-auto {
            margin-left: 0!important;
            margin-right: 0!important;
        }
    
        .btn-first{
            margin-top: 1rem!important;
        }
    
        .btn-second {
           
    
            height: 32px;
       
            margin-top: 0;
    
        }
        button.btn{
            width: 120px;
            font-size: 12px;
            border-radius: 0.5rem;
        }

        .color-grad{
            display: flex!important;
            width: 30px!important;
            height: 106px!important;
           position: absolute;
           left: 2rem;
           top: 2rem;
           z-index: 2;
        }
    
        /* intro */

        #intro p {
            margin-top: 0;
            left: 0;
            font-size: 14px;
    
        }
        #intro {
            width: 100%;
            padding: 3rem 5%;
            height: calc(100vh - 86px);
            display: flex!important;
            justify-content: center!important;
            align-items: center;
           
        }
        #intro .row {
            display: flex;
            justify-content: center;
         
            flex-wrap: wrap;
        }

        .intro-main{
            padding: 0!important;
        }
    
    
       #intro img {
            width: 60% !important;;
             margin: 0!important;
             display: flex!important;
             justify-content: center;
        }

        .intro-img{
            margin-top: 0!important;
            margin-right: 0!important;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
    
    
    
        .intro-text {
            width: 80%;
            display: flex;
            justify-content: center;
            padding: 0;
    
        }


        .intro-header{
            font-size: 12px;
            padding: 0;
            min-height: 3rem;
        }

        #timeline{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        #timeline img{
            width: 100%;
        }

        #anthem{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .anthem-header{
            margin-top: 0;
        }

        .anthem-header img{
            width: 100%;
        }

        #dokumentasi{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

       .dokumentasi-main img {
        width: 100%;
        height: 100%;
       }
          
    
      
    
        /* login pop up */
    
        .login-box{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 22rem;
            height: 22rem;
            display: flex;
            justify-content: center!important;
        }
    
        .login-box h2{
            margin-top: 2rem;
            font-size: 1.5rem;
        }
    
        .button-login{
            padding: 1.2rem 7rem;
        }
    
        .button-forgot{
            display: flex;
            flex-direction: column;
            justify-content: center!important;
    
        }
        .form-control{
            width: 14rem;
        }

        .btn-nav{
            margin-top: -10px;
        }

        .forget-password{
            width: 83px;
            margin-top: -2rem;
            font-size: 10px;
            margin-left: 12.5rem;
            
        }
    
        .form-check{
            display: flex;
            justify-content: center;
            gap: 0.2rem;
        }
    
        #closeIcon2{
            /* top: -100px; */
      
            height: 1rem!important;
            justify-content: flex-start!important;
            top: 0px;
            left: -60px;
        }

        #eyeicon5{
            width: 1.4rem!important;
            right: -190px;
            top: -112%;
        }

       

/* daftar */

#daftar {
    width: 25rem;
    height: 34rem;
}

.daftar p{
    margin-top: 2rem;
    font-size: 1.5rem;
}

.show-password-icon, .hide-password-icon{
    position: relative;
    right: 40px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-daftar{
    width: 18rem;
    padding: 0.7rem 1.5rem;
}

.form-password{
    width: 18rem!important;
}

.form-password{
    padding-left: 1.5rem!important;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
    padding-right: 3rem !important;
    margin-left: 1.5rem;
}

.daftar input[type="text"]::placeholder,
.daftar input[type="password"]::placeholder,
.daftar input[type="email"]::placeholder
{
    font-size: 12px;
}

.input-password{
    height: 46px!important;
}

.button-daftar{
    padding: 1.2rem 7.5rem!important;
}

.form-column{
    display: flex;
    justify-content: center;
}

.costum-margin{
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

.button-row{
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

    .sidebar{
        width: 10%;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }

    .sidebar{
        width: 10%;
        position: fixed;
        display: flex;
        justify-content: flex-start;
        height: 100%;
    }


    .sidebar-column{
        width: 12%!important;
        z-index: 9999;
    }

    .content-column{
        padding: 1rem 6%;
        width: 100%;
        z-index: 9998;
    }

    .line{
        display: none;
    }

    .sidebar-main{
        width: 12%;
        display: none;
        transition: transform 1s ease;
        margin: 0;
        position: fixed;    
    }

    .sidebar-col{
        padding: 0;
    }

    .sidebar-header,
    .sidebar-header h2{
        display: none;
    }

    .nav-link img{

    }
    .link-name{
        display: none;
    }

    .menu-items{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }



    .nav-links{
        padding: 0;
        margin-top: 4rem;
        position: relative;
    }

    .nav-link,
    .nav-active {
        width: 38px;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .nav-link img ,
    .nav-active img {
        margin: 0;
        left: 0!important;
    }

    .nav-active img {
        position: relative;
        left: 6px;
    }

    .nav-logout{
        margin-left:0;
        position: absolute;
        top: 100%;
    }
    .welcome-header h2{
        font-size: 1rem;
    }
    .welcome-header p{
        font-size: 0.75rem;
    }

    .text-content{

    }

    /* dashboard */

    .profile-info .burger{
        display: flex;
    }

    .profile-info h4 {
        display: flex!important;
        color: #6C2863;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .profile-welcome{
        width: 3.2rem;
        height: 3.2rem;
    }

    .welcome-header {
        margin-top: 0!important;
    }

    .welcome-header h2 {
        font-size: 1.25rem;
    }

    .dashboard-count{
        margin-top: 9rem!important;
    }

    .kolom-count{
        display: flex;
        flex-direction: column;
        align-items: center;
      }

    .dashboard-unduh{
        position: absolute;
        top: 160px;
        width: 90%;
    }

    .download-content{
        display: flex!important;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .download-content button{
        
        width: 100%;
    }
    
    /* .kolom-unduh{
        justify-content: flex-start!important;
    } */

    .profile-info{
        display: flex;
        justify-content: space-between;
        margin: 0;
        width: 100%;
        /* gap: 7.5rem; */
    }

    .profile-header{
        width: 2rem;
        height: 2rem;
    }



    .dashboard-main{
        flex-direction: column;
        margin: 0;
    }

    .container-header{
        width: 100%;
        margin: 0;
        padding: 1rem 2%;
        display: flex;
        justify-content: space-between;
    }

    .name-header {
        display: none;
    }

    .kolom1,
    .kolom2 {
        width: 100%;
        flex: 0 0 auto;
    }

    .card-body{
        gap: 0;
    }


    .countdown-content img{
        width: 2rem;
    }

    .countdown-content h4{
        font-size: 1rem;
    }

    .countdown-box {
        width: 100%!important;
        height: 4.75rem!important;
    }

    .countdown-fill{
        width: 3rem!important;
        height: 3rem!important;
        border-radius: 0.5rem;
    }

    .countdown-fill p{
        font-size: 1rem;
    }

    /* .card-body{
        gap: 3rem;
    } */

    

    .card-body h6{
        font-size: 0.75rem;
    }

    .tugas-header {
        position: relative;
    }

    .upload-tugas1{
        display: flex;
        justify-content: center;
    }

    .upload-teks{
        margin-left: 1rem!important;
    }

    .col-4,
    .col-9 {
        margin: 0;
    }

    .tugas-header a {
        /* position: absolute; */
        left: 25rem;
    }

    .tugas-header img{
        width: 2rem;
    }

    .tugas-header h4{
        font-size: 1rem;
    }

    .tugas-content{
        width: 100%;
    }

    .tugas-box{
        width: 100%!important;
        height: 4.5rem!important;
    }

    .upload-header{
        font-size: 0.9rem;
    }

    .deadline-upload{
        font-size: 0.9rem;
    }

    .button-upload {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .button-upload button{
        background: transparent;
        border: none;
        margin: 0;

    }

    .kalender-content{
        width: 100%;
        padding: 0;
    }

    .kalender-main{
        margin-left: 0;
    }

    .kalender-content img {
        width: 2rem;
    }

    .kalender-content h4{
        font-size: 1rem;
    }

    .kegiatan-main {
        margin: 0;
        
    }

    .card-kegiatan{
        flex-direction: column;
    }

    .kegiatan-content img {
        width: 2rem;
    }

    .kegiatan-content h4{
        font-size: 1rem;
    }

    .kegiatan-box{
        width: 100%!important;
        height: 4rem!important;
    }

    .kegiatan-header,
    .ket-kegiatan{
        font-size: 0.7rem;
    }

    .date-kegiatan{
        align-items: center;
    }

    .date-kegiatan img{
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-content: center;
    }

    /* coming soon*/

    .cm-main {
        padding: 2rem 3rem;
        height: 100vh;
    }

    .coming-header{
        margin-top: 4rem;
    }
    .img-coming{
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }

    .count{
        gap: 0.5rem!important;
        justify-content: center!important;
    }

    .countdown{
        margin-top: 5rem;
        position: relative;
        top: 10px;
    }

    .count-main{
        width: 20%;
    }

    .count-hari{
        width: 4.2rem;
        height: 4.2rem;
    }

    .count-hari p{
        font-size: 1.8rem;
    }

    .count-lable{
        font-size: 0.6rem;
    }

    .count-final-date h1{
        font-size: 1rem;
    }

    .coming-announ p{
        font-size: 1rem;
    }

    .img-coming2{
        position: relative;
        top: 320px;
    }

    .blank {
        padding: 0.8rem ;
        height: 3.2rem;
        border: 0.4rem solid #221737;
        position: relative;
        top: -290px;
        margin-bottom: 2rem;
    }

    .blank::after,
    .blank::before {
        inset: 0.7rem;
    }

    .footer img{
        width: 2.5rem;
    }

}

@media screen and (max-width: 992px) and (min-width: 768px) {

    .navbar-nav .nav-link{
        margin-top: 15px;
        margin-bottom: -50px;
    }

    .btn-nav{
        margin-top: 30px;
    }

    .navbar {
        position: fixed!important;
        height: auto!important;

    }

    .navbar-toggler-icon{
        background-image: url(../img/burger-user.svg);
    }

    .navbar-brand {
        display: none;
    }

   
    

    .navbar-toggler {
        display: flex;
        border: none!important;
    }

    .navbar-toggler:focus{
        box-shadow: none!important ;
    }

    .nav-logo{
        display: block!important;
        position: fixed;
        z-index: 9999;
        left: 84px;
        top: 24px;
    }

    .hero-content{
        width: 100%!important;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-content2{
        display: none!important;
    }

    #hero {
        display: flex!important;
        justify-content: center!important;
        align-items: center;
        height: calc(100vh - 100px);
        position: relative;
    }

    #hero img {

        width: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .hero-main{
        padding: 0!important;
        
    }

   #hero .komputer{
        display: none;
    }

    
    .hero{
        display: flex;
        flex-wrap: nowrap;
    }

    .button-hero{
        display: flex!important;
        flex-direction: column!important;
        align-items: center;
    }

    /* .col-4 {
        margin-top: 16px;
        margin-left: 16px;
    } */
    /* .col-9 {
        margin-top: 1em;
    } */


    /* .col-4 {
     width: 200px;
   } */

    /* .d-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dua kolom dengan lebar yang sama */

        .mx-auto {
            margin-left: 0!important;
            margin-right: 0!important;
        }
    
        .btn-first{
            margin-top: 1rem!important;
        }
    
        .btn-second {
           
    
            height: 32px;
       
            margin-top: 0;
    
        }
        button.btn{
            width: 150px;
            font-size: 12px;
            border-radius: 0.5rem;
        }

        .color-grad{
            display: flex!important;
            width: 30px!important;
            height: 106px!important;
           position: absolute;
           left: 2rem;
           top: 2rem;
           z-index: 2;
        }
    
        /* intro */

        #intro p {
            margin-top: 0;
            left: 0;
            font-size: 14px;
    
        }
        #intro {
            width: 100%;
            padding: 3rem 5%;
            height: calc(100vh - 86px);
            display: flex!important;
            justify-content: center!important;
            align-items: center;
           
        }
        #intro .row {
            display: flex;
            justify-content: space-between;
         
            flex-wrap: wrap;
        }

        .intro-main{
            padding: 0!important;
        }
    
    
       #intro img {
            width: 100% !important;;
             margin: 0!important;
             display: flex!important;
             justify-content: center;
        }

        .intro-img{
            margin-top: 0!important;
            margin-right: 0!important;
            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
        }
    
    
    
        .intro-text {
            width: 50%;
            display: flex;
            justify-content: center;
            padding: 0;
    
        }


        .intro-header{
            font-size: 12px;
            padding: 0;
            min-height: 3rem;
        }

        #timeline{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #timeline img {
            width: 80%;
        }

        #anthem{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .anthem-header{
            margin-top: 0;
        }

        .anthem-header img {
            width: 60%;
        }

        #dokumentasi{
            height: calc(100vh - 86px);
            padding: 3rem 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

       
          
    
      
    
        /* login pop up */
    
        .login-box{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 22rem;
            height: 22rem;
            display: flex;
            justify-content: center!important;
        }
    
        .login-box h2{
            margin-top: 2rem;
            font-size: 1.5rem;
        }
    
        .button-login{
            padding: 1.2rem 7rem;
        }
    
        .button-forgot{
            display: flex;
            flex-direction: column;
            justify-content: center!important;
    
        }
        .form-control{
            width: 14rem;
        }

        .btn-nav{
            margin-top: -10px;
        }

        .forget-password{
            width: 83px;
            margin-top: -2rem;
            font-size: 10px;
            margin-left: 8rem;
            
        }
    
        .form-check{
            display: flex;
            justify-content: center;
            gap: 0.2rem;
        }
    
        #closeIcon2{
            /* top: -100px; */
      
            height: 1rem!important;
            justify-content: flex-start!important;
            top: 0px;
            left: -60px;
        }

        #eyeicon5{
            width: 1.4rem!important;
            right: -190px;
            top: -112%;
        }

       

/* daftar */

#daftar {
    width: 25rem;
    height: 34rem;
}

.daftar p{
    margin-top: 2rem;
    font-size: 1.5rem;
}

.show-password-icon, .hide-password-icon{
    position: relative;
    right: 40px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-daftar{
    width: 18rem;
    padding: 0.7rem 1.5rem;
}

.form-password{
    width: 18rem!important;
}

.form-password{
    padding-left: 1.5rem!important;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
    padding-right: 3rem !important;
    margin-left: 1.5rem;
}

.daftar input[type="text"]::placeholder,
.daftar input[type="password"]::placeholder,
.daftar input[type="email"]::placeholder
{
    font-size: 12px;
}

.input-password{
    height: 46px!important;
}

.button-daftar{
    padding: 1.2rem 7.5rem!important;
}

.form-column{
    display: flex;
    justify-content: center;
}

.costum-margin{
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

.button-row{
    width: 100%;
    margin-left: 0!important;
    margin-right: 0!important;
}

    .cm-main{
        height: 100vh;
    }

    .count{
        gap: 1rem!important;
        justify-content: flex-end!important;
    }

    .count-main{
        width: 20%;
    }

    .count-hari{
        width: 3.5rem;
        height: 3.5rem;
    }

    .count-hari p{
        font-size: 1.8rem;
    }

    .count-lable{
        font-size: 0.5rem;
    }

    .count-final-date h1{
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .coming-announ p{
        font-size: 1rem;
    }

    .blank {
        padding: 2rem ;
        height: 3rem;
        border: 0.6rem solid #221737;
        position: relative;

    }

    .blank::after,
    .blank::before {
        inset: 1rem;
    }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {


    #hero{
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #intro{
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
    }

    #intro p{
        left: 54px;
    }

    .intro-text {
        width: 50%;
    }

    #timeline {
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
      
    }

    #timeline img{
       width: 70%;
    }

    .timeline-main img{
        margin: 3rem;
        padding: 0;
        width: 70% ;
    }

    #anthem {
        height: calc(100vh - 100px);
    }

    .anthem-header img {
        width: 50%;
    }

    .anthem-main .card{
        width: 35rem !important;
    }

    .anthem-header{
        margin-top: 0;
    }

    #dokumentasi {
        height: calc(100vh - 100px);
        padding: 3rem 5%;
    }

    .dokumentasi-header{
        margin-top: 0;
    }

    .dokumentasi-main img{
        width: 70%;
    }

    .blank {
        padding: 2rem ;
        height: 3rem;
        border: 0.6rem solid #221737;
        position: relative;

    }

    .blank::after,
    .blank::before {
        inset: 1rem;
    }
}

@media screen and (max-width: 1366px) and (min-width: 1200px) {
    #hero{
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #intro{
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
    }

    #intro p{
        left: 80px !important;
    }

    .intro-text {
        width: 50%;
    }

    #timeline {
        height: calc(100vh - 100px);
        display: flex;
        justify-content: center;
        padding: 3rem 5%;
    }

    /* #timeline img{
       width: 50%;
    } */

    .timeline-header{
        margin: 0;
    }

    .timeline-main img{
        padding: 0;
        width: 60% ;
    }

    #anthem {
        height: calc(100vh - 100px);
    }

    .anthem-header {
        width: 60%;
    }

    .anthem-main .card{
        width: 35rem !important;
    }

    .anthem-header{
        margin-top: 0;
    }

    #dokumentasi {
        height: calc(100vh - 100px);
        padding: 3rem 5%;
    }

    .dokumentasi-header{
        margin-top: 0;
    }

    .dokumentasi-main img{
        width: 70%;
        height: 70%;
        padding: 0;
    }


    .blank {
        padding: 2rem ;
        height: 3rem;
        border: 0.6rem solid #221737;
        position: relative;

    }

    .blank::after,
    .blank::before {
        inset: 1rem;
    }
}
